body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: 'GillSans';
  src: url('./fonts/GillSans-Bold.woff2') format('woff2'),
    url('./fonts/GillSans-Bold.woff') format('woff'),
    url('./fonts/GillSans-Bold.ttf') format('truetype'),
    url('./fonts/GillSans-Bold.svg#GillSans-Bold') format('svg');
  font-weight: 100;
  font-style: normal;
}

.mapboxgl-missing-css {
  display: none;
}

.event-circle {
  cursor: auto !important;
}

.event-circle:after {
  display: block;
  content: '';
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;
  background: #de310b;
  opacity: 0.65;
  animation: event-glow 1s infinite linear;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%);
}

@keyframes event-glow {
  0% {
    filter: blur(10px);
    width: 100px !important;
    height: 100px !important;
  }

  50% {
    filter: blur(15px);
    width: 150px !important;
    height: 150px !important;
  }

  100% {
    filter: blur(10px);
    width: 100px !important;
    height: 100px !important;
  }
}

.place-circle {
  width: 25px !important;
  height: 25px !important;
  background: url('./resources/home.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.person-circle {
  width: 34px !important;
  height: 34px !important;
  border-radius: 50%;
  background: url('./resources/location.png');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: auto !important;
}

.leaflet-container {
  background: #191a1a !important;
}

h1 {
  font-family: 'GillSans';
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-size: 42px;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 60px;
  }
}

h2 {
  font-family: 'GillSans';
  color: white;
}

.codeInput {
  /* background-color: #58555b; */
  color: white;
  font-size: 20px;
  font-family: 'GillSans';
  text-align: center;
  width: 45px;
  height: 55px;
  border: 1px solid #ffffff52;
}

.codeInput:focus {
  border-color: #ffffff52;
}

.sendButton:hover {
  background-color: rgb(107, 171, 235);
}

.pass-close {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.morph {
  transition: all 0.3s ease;
  background: #7158e2;
  max-width: 400px;
}

.content {
  transition: opacity 0.15s ease;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.bottom-password {
  width: 100%;
  height: 210px;
  border-radius: 4px;
}

.bottom-start {
  width: 180px;
  height: 62px;
  text-align: center;
  transform: translateY(-20px);
  cursor: pointer;
  color: white;
  border-radius: 4px;
}

.bottom-start > div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-button {
  line-height: 1;
  font-size: 20px;
  font-family: 'GillSans';
}

.bottom-open {
  width: 100%;
  height: 432px;
  border-radius: 4px;
  transform: translateY(0px);
}

.anticon.anticon-exclamation-circle {
  display: none;
}

.secondButton {
  background-color: #4b4b4b;
  border-color: #4b4b4b;
}

.secondButton:hover,
.secondButton:hover {
  background-color: #3d3d3d;
  border-color: #3d3d3d;
}

.ant-btn-clicked:after {
  display: none;
}

#loading-screen {
  transition: opacity 0.3s ease;
}

#loading-screen.completed {
  opacity: 0;
}
