body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

@font-face {
  font-family: 'GillSans';
  src: url('./fonts/GillSans-Bold.woff2') format('woff2'),
    url('./fonts/GillSans-Bold.woff') format('woff'),
    url('./fonts/GillSans-Bold.ttf') format('truetype'),
    url('./fonts/GillSans-Bold.svg#GillSans-Bold') format('svg');
  font-weight: 100;
  font-style: normal;
}

.mapboxgl-missing-css {
  display: none;
}

.event-circle {
  cursor: auto !important;
}

.event-circle:after {
  display: block;
  content: '';
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;
  background: #de310b;
  opacity: 0.65;
  animation: event-glow 1s infinite linear;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%);
}

@keyframes event-glow {
  0% {
    filter: blur(10px);
    width: 100px !important;
    height: 100px !important;
  }

  50% {
    filter: blur(15px);
    width: 150px !important;
    height: 150px !important;
  }

  100% {
    filter: blur(10px);
    width: 100px !important;
    height: 100px !important;
  }
}

.place-circle {
  width: 28px !important;
  height: 28px !important;
  border-radius: 50%;
  background: url('./resources/home.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.person-circle {
  width: 34px !important;
  height: 34px !important;
  border-radius: 50%;
  background: url('./resources/location.png');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: auto !important;
}

.leaflet-container {
  background: #191a1a !important;
}

h2 {
  font-family: 'GillSans';
}

.codeInput {
  background-color: #58555b;
  color: white;
  font-size: 20px;
  margin: 0px 4px;
  font-family: 'GillSans';
  text-align: center;
  width: 45px;
  height: 55px;
}

.sendButton {
  color: white;
  background-color: rgb(37, 146, 252);
  font-size: 10px;
  border: none;
  width: 50px;
  height: 20px;
  margin-top: 8px;
  margin-left: 50px;
  border-radius: 3px;
}

.sendButton:hover {
  background-color: rgb(107, 171, 235);
}
